HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore '.DS_Store' files
#.DS_Store
#._.DS_Store
#**/.DS_Store
#**/._.DS_Store

# Logging file ignore
logs/

# application.properties 파일은 gitignore에 적용시키지 않음.
!src/main/resources/application.properties
# application- 으로 시작하는 모든 properties 파일은 gitignore에 적용시켜 무시함.
src/main/resources/application-*.properties
