<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="AWS_ACCESS_KEY" source="cloud.aws.credentials.accessKey"/>
    <springProperty name="AWS_SECRET_KEY" source="cloud.aws.credentials.secretKey"/>
    <property name="LOCAL_LOGS_PATH" value="./logs"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS, ${logback.timezone:-Asia/Seoul}} / %.-160msg%n---------------------------------------------------------------------------%n</pattern>
        </encoder>
    </appender>

    <appender name="LOCAL-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOCAL_LOGS_PATH}/log_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOCAL_LOGS_PATH}/store_error/log_error_%d{yyyy-MM-dd, ${logback.timezone:-Asia/Seoul}}_%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>30MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
            <totalSizeCap>300MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS, ${logback.timezone:-Asia/Seoul}} / %msg%n---------------------------------------------------------------------------%n%n</pattern>
        </encoder>
    </appender>

    <appender name="CLOUDWATCH-ERROR" class="ca.pjer.logback.AwsLogsAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <layout>
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS, ${logback.timezone:-Asia/Seoul}} / %msg</pattern>
        </layout>
        <logGroupName>onlinememo/error-log</logGroupName>
        <logStreamUuidPrefix>onlinememo-error-log-</logStreamUuidPrefix>
        <logRegion>ap-northeast-2</logRegion>
        <maxBatchLogEvents>50</maxBatchLogEvents>
        <maxFlushTimeMillis>30000</maxFlushTimeMillis>
        <maxBlockTimeMillis>5000</maxBlockTimeMillis>
        <retentionTimeDays>7</retentionTimeDays>
        <accessKeyId>${AWS_ACCESS_KEY}</accessKeyId>
        <secretAccessKey>${AWS_SECRET_KEY}</secretAccessKey>
    </appender>


    <springProfile name="local,prod">
<!--        <logger name="com.shj.onlinememospringproject.response" level="error">-->
<!--            <appender-ref ref="CONSOLE" />-->
<!--        </logger>-->
        <root level="error">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="local">
        <logger name="com.shj.onlinememospringproject.response" level="error">
            <appender-ref ref="LOCAL-ERROR" />
        </logger>
    </springProfile>

    <springProfile name="prod">
        <logger name="com.shj.onlinememospringproject.response" level="error">
            <appender-ref ref="CLOUDWATCH-ERROR" />
        </logger>
    </springProfile>
</configuration>