commands:
  00_set_swap_memory:
    test: test ! -e /var/swapfile
    command: |
      /bin/dd if=/dev/zero of=/var/swapfile bs=1M count=1024
      /bin/chmod 600 /var/swapfile
      /sbin/mkswap /var/swapfile
      echo "SUCCESS - 00_set_swap_memory"
  01_enable_swap_memory:
    test: ! /sbin/swapon --show | grep -q '/var/swapfile'
    command: |
      /sbin/swapon /var/swapfile || true
      echo "SUCCESS - 01_enable_swap_memory"
  02_ensure_fstab:
    test: ! grep -q '/var/swapfile' /etc/fstab
    command: |
      echo '/var/swapfile none swap sw 0 0' >> /etc/fstab
      echo "SUCCESS - 02_ensure_fstab"
  03_set_swappiness:
    command: |
      sysctl vm.swappiness=10
      if grep -q '^vm.swappiness' /etc/sysctl.conf; then
          sed -i 's/^vm.swappiness=.*/vm.swappiness=10/' /etc/sysctl.conf
      else
          echo 'vm.swappiness=10' >> /etc/sysctl.conf
      fi
      echo "SUCCESS - 03_set_swappiness"