files:
  "/etc/nginx/conf.d/http_global.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 55M;
  "/etc/nginx/conf.d/elasticbeanstalk/server_gzip.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      gzip on;
      gzip_vary on;
      gzip_http_version 1.1;
      gzip_comp_level 5;
      gzip_min_length 5120;
      gzip_types application/json;
      gzip_proxied any;

container_commands:
  reload_nginx:
    command: "sudo systemctl reload nginx"